# Funding secured.

I follow both Elon Musk and Bored Elon Musk on Twitter. Sometimes when I scroll through my timeline I see a tweet from Elon Musk and think, "that's crazy talk". Other times I read a tweet from Bored Elon Musk and think, "this is so crazy it might work".

<img src="elon_tweet.jpg" width="500">

I use the tweepy library to grab tweets for Elon Musk (https://twitter.com/elonmusk) and Bored Elon Musk (https://twitter.com/BoredElonMusk) via the Twitter API. I will then use some classification algorithms to classify the tweets as real or fake.

The first step is to create an app on the Twitter Developer platform in order to generate consumer and access keys. These will allow you to access the Twitter API through tweepy. These keys are specific to your Twitter Developer and/or user account, and so they should be kept private. I generally like to put them in a config.py file and import them. If you put your code on github, you can create a config_example.py file which will show other developers how to set up their config.py file. Also, make sure to add config.py to your .gitignore file.

In [1]:
from config import consumer_key, consumer_secret, access_token, access_token_secret
import tweepy

%matplotlib inline
import matplotlib.pyplot as plt
import datetime
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()

In [2]:
# Creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# Setting your access token and secret
auth.set_access_token(access_token, access_token_secret)
# Creating the API object while passing in auth information
api = tweepy.API(auth)

## Function to grab a user's tweets

Don't you love when you can write a function to keep your code DRY? I know I do.

In [3]:
def get_tweets(listOfTweets, user, numOfTweets):
    # Iterate through all tweets of specific user
    for tweet in tweepy.Cursor(api.user_timeline, id=user).items(numOfTweets):
        # Add tweets in this format
        dict_ = {'Screen Name': tweet.user.screen_name,
                'Tweet Created At': pd.to_datetime(tweet.created_at),
                'Tweet Text': tweet.text,
                }
        listOfTweets.append(dict_)

## Grab tweets from both accounts

In [10]:
data = []

get_tweets(data, 'BoredElonMusk', 1000)
get_tweets(data, 'elonmusk', 1000)
data_df = pd.DataFrame(data)

In [11]:
data_df.head()

,Screen Name,Tweet Created At,Tweet Text
0,BoredElonMusk,2019-06-27 01:11:51,RT @BoredElonMusk: Podiums with built-in stun ...
1,BoredElonMusk,2019-06-25 04:21:26,Coffee shop that gives you extra strong drinks...
2,BoredElonMusk,2019-06-19 16:01:04,"Ticketmaster, but not evil."
3,BoredElonMusk,2019-06-08 21:08:51,Blanket that absorbs and transfers heat from o...
4,BoredElonMusk,2019-06-06 14:52:12,Phone feature that rings your alarm just befor...

In [12]:
data_df.tail()

,Screen Name,Tweet Created At,Tweet Text
1995,elonmusk,2019-04-06 04:52:10,Starhopper just lifted off &amp; hit tether li...
1996,elonmusk,2019-04-05 17:16:31,Max thrust of 2550 tons will be almost 10% hig...
1997,elonmusk,2019-04-05 17:11:37,Static fire data looks good so far. This is fi...
1998,elonmusk,2019-04-05 16:48:11,@abledoc @fentrocity @Real_John_D @MitchellHag...
1999,elonmusk,2019-04-05 14:12:02,“…drivers in this dataset use Autopilot for 34...